.view-recruitment-button {
  background-color: #FFC107;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
}

.view-recruitment-button:hover {
  background-color:#FF6F00;
} 